{% extends 'base.html' %}

{% block content %}
<div class="container">
	<h3>Brach Factorial Calculator</h3>
	<form method="POST" action="{% url 'factorial' %}">{% csrf_token %}
	<p> Numbers: <input placeholder="Number..With Space" name="factorial" maxlength="18" required=""></p>
	
	<p id="factorial_result" style="display:block">Factorial :&nbsp;{% for i in factorial_result %}<li>{{ i }}</li> {% endfor %}</p>
	<button class="btn btn-outline-danger" type="submit">Calculate</button>
	<input class="btn btn-secondary" type="reset" value="Reset"><br>
</form>	
<span style="color:#001a66">{{ message }}</span><br>
</div>
{% endblock %}